<div class="container1 bg-mywhite">

  <nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex justify-content-between p-2">

          <img src="../../assets/douanes.jpeg" width="95" alt="logo douanes sénégalaise" class="img-fluid img-thumbnail rounded">


          <div ngbDropdown class="bg-mywhite rounded-pill my-auto"
            style="box-shadow: #E7C133 0px 50px 100px -20px, #E7C133 0px 30px 60px -30px, #E7C133 0px -2px 6px 0px inset; outline: none;">

            <button class="btn btn-primary rounded-pill" ngbDropdownToggle id="dropdownMenuButton1">
              <img src="../../assets/user.png" alt="User" style="max-height: 40px; max-width: 40px;">
              <span class="fw-bold mx-2">Administrateur</span>
            </button>

            <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1" class="dropdown-menu1">
              <li><button class="dropdown-item1 fw-bold" type="button">Profil</button></li>
              <li><button class="dropdown-item1 fw-bold" type="button">Paramètres</button></li>
              <li><button class="dropdown-item1 fw-bold" type="button">Déconnexion</button></li>
            </ul>

          </div>

        </div>
      </div>
    </div>

  </nav>





  <div id="sidebar">
    <div class="container-fluid bg-mywhite h-100">
      <div class="row">
        <ul class="nav flex-column">

          <li class="nav-item mx-2">
            <a mat-raised-button class="collapsible nav-link d-flex justify-content-start" style="position: relative;">
              <mat-icon class="me-4">calendar_today</mat-icon> Gestion des stocks <span class="fa-solid fa-chevron-down ms-4"></span>
            </a>
            <div class="content">
              <a mat-raised-button class="nav-link d-flex justify-content-start" href="#">
                Gestion des ...
              </a>
              <a mat-raised-button class="nav-link d-flex justify-content-start" href="#">
                Gestion des ...
              </a>
              <a mat-raised-button class="nav-link d-flex justify-content-start" href="#">
                Gestion des ...
              </a>
            </div>
          </li>


          <li class="nav-item mx-2">
            <a mat-raised-button class="nav-link d-flex justify-content-start" href="#">
              <mat-icon class="me-4">local_shipping</mat-icon> Gestion des fournisseurs
            </a>
          </li>
          <li class="nav-item mx-2">
            <a mat-raised-button class="nav-link d-flex justify-content-start" href="#">
              <mat-icon class="me-4">shopping_cart</mat-icon> Gestion des commandes
            </a>
          </li>
          <li class="nav-item mx-2">
            <a mat-raised-button class="nav-link d-flex justify-content-start" href="#">
              <mat-icon class="me-4">poll</mat-icon> Analyse et rapports
            </a>
          </li>
          <li class="nav-item mx-2">
            <a mat-raised-button class="nav-link d-flex justify-content-start" href="#">
              <mat-icon class="me-4">assignment</mat-icon> Gestion des demandes
            </a>
          </li>
          <li class="nav-item mx-2">
            <a mat-raised-button class="nav-link d-flex justify-content-start" href="#">
              <mat-icon class="me-4">open_in_new</mat-icon> retours et réparations
            </a>
          </li>
          <li class="nav-item mx-2">
            <a mat-raised-button class="nav-link d-flex justify-content-start" href="#">
              <mat-icon class="me-4">send</mat-icon> Transactions
            </a>
          </li>

          <li class="nav-item mx-2">
            <a mat-raised-button class="collapsible nav-link d-flex justify-content-start">
              <mat-icon class="me-4">assignment_ind</mat-icon> Gestion des utilisateurs <i class="fa-solid fa-chevron-down ms-4"></i>
            </a>
            <div class="content">
              <a mat-raised-button class="nav-link d-flex justify-content-start" href="#">
                Gestion des ...
              </a>
              <a mat-raised-button class="nav-link d-flex justify-content-start" href="#">
                Gestion des ...
              </a>
              <a mat-raised-button class="nav-link d-flex justify-content-start" href="#">
                Gestion des ...
              </a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>




  <main class="bg-mywhite">

    <div class="container bg-myprimary bg-gradient my-3 py-2" style="box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);">
      <div class="row">
        <div class="col-12 text-center fw-bolder fs-5">
          Gestion des utilisateurs
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="input-group" style=" width: 300px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);">
            <div class="input-group-prepend">
              <span class="input-group-text" style="box-shadow: #F5E0A7 0px 50px 100px -20px, #F5E0A7 0px 30px 60px -30px, #F5E0A7 0px -2px 6px 0px inset; outline: none;">
                <mat-icon>search</mat-icon>
              </span>
            </div>
            <input class="form-control input-sm bg-mywhite border-0" type="search" placeholder="Rechercher" aria-label="Search" style="box-shadow: #F5E0A7 0px 50px 100px -20px, #F5E0A7 0px 30px 60px -30px, #F5E0A7 0px -2px 6px 0px inset; outline: none;">
          </div>
        </div>

      </div>
    </div>

    <div class="container" style="text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);">
      <div class="row d-flex p-3 align-middle">

        <div class="col-4">
          <h5 class="fw-bolder">Liste des utilsateurs</h5>
        </div>

        <div class="col-5">
          <span class="fw-bolder">Téléchargement :
            <button class="fw-bold mx-1 bg-mywhite shadow" style="border: none;"><i class="fa-regular fa-file-pdf fs-3"></i></button>
            <button class="fw-bold mx-1 bg-mywhite shadow" style="border: none;"><i class="fa-regular fa-file-excel fs-3"></i></button>
          </span>
        </div>

        <div class="col-3 d-flex justify-content-end">
          <button (click)="popupAjouter()" class="fw-bold bg-mywhite" style="border: 2x solid black; border-radius: 50%;"><i class="fa-solid fa-plus fs-3"></i></button>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" style="box-shadow: #F5E0A7 0px 50px 100px -20px, #F5E0A7 0px 30px 60px -30px, #F5E0A7 0px -2px 6px 0px inset; outline: none;">

         <!-- Position Column -->
         <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"><a (click)="popupDetail()">{{element.position}}</a></td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"><a (click)="popupDetail()">{{element.name}}</a></td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"><a (click)="popupDetail()">{{element.weight}}</a></td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"><a (click)="popupDetail()">{{element.symbol}}</a></td>
        </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>

    </div>


  </main>


</div>
