.mon-bouton {
  width: 100%;
  border: 1px solid black;
  color: #000;
  font-weight: bold;
  margin: 5px;
  background-color: white;
  border-radius: 5%;
  min-height: 50px;
}


table {
  width: 100%;
}

mat-expansion-panel-header {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
