/* Styles pour le conteneur principal */
.container1 {
  /* overflow: hidden; */
  display: grid;
  height: 100vh; /* La hauteur du conteneur occupe 100% de la hauteur de la fenêtre */
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Quatre colonnes égales */
  grid-template-rows: 0.4fr 1.2fr 1.2fr 1.2fr; /* Quatre rangées avec des fractions de hauteur */
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"; /* Les noms d'aires pour chaque cellule de la grille */
  grid-gap: 0.1rem; /* Espacement entre les cellules de la grille */
}

/* Styles pour la barre de navigation */
nav {
  border: 2px solid grey;
  grid-area: nav; /* Occupe la zone "nav" de la grille */
  font-size: 1rem; /* Taille de police pour la barre de navigation */
}

/* Styles pour la section principale */
main {
  padding: 1.5rem;
  overflow-y: auto;
  grid-area: main; /* Occupe la zone "main" de la grille */
  font-size: 1rem; /* Taille de police pour la section principale */
}

/* Styles pour la barre latérale */
#sidebar {
  box-shadow: 0 4px 6px rgba(196, 164, 43, 0.1);
  border: 2px solid grey;
  overflow-y: auto;
  grid-area: sidebar; /* Occupe la zone "sidebar" de la grille */
  font-size: 1.2rem; /* Taille de police pour la barre latérale */
}

/* Styles pour les liens */
li a {
  /* display: block; */
  /* font-family: inherit; */
  text-decoration: none;
  font-weight: bold;
  margin: 0.5rem;
}

/* Media Query pour les écrans plus petits (largeur maximale de 550px) */
@media only screen and (max-width: 550px) {
  .container1 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr auto;
    grid-template-areas:
      "nav"
      "sidebar"
      "main";
  }
  /* Ajustez la taille de police pour les écrans plus petits si nécessaire */
  nav, main, #sidebar {
    font-size: 0.8rem; /* Taille de police pour les écrans plus petits */
  }
}











/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  overflow: hidden;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(196, 164, 43, 0.1);
  border-radius: 5px;
  margin: 0 20px 0 20px;
  padding: 10px;
}







/* Stylisation du menu déroulant */
.dropdown-menu1 {
  
  width: 100%;
  background-color: #f8f9fa; /* Couleur de fond */
  border: 1px solid #ccc; /* Bordure */
  box-shadow: 0 4px 6px rgba(196, 164, 43, 0.1); /* Ombre */
  border-radius: 5px; /* Coins arrondis */
  padding: 10px; /* Espacement interne */
}

/* Stylisation des éléments du menu */
.dropdown-item1 {
  margin: 3px;
  text-align: start;
  border: none;
  width: 100%;
  font-weight: bold; /* Texte en gras */
  color: #000; /* Couleur du texte */
}

/* Style au survol des éléments */
.dropdown-item1:hover {
  background-color: #E7C133; /* Couleur de fond au survol */
  color: #fff; /* Couleur du texte au survol */
}










