<div class="card shadow">

  <div class="card-header d-flex justify-content-center fw-bold bg-myprimary fs-4">

    Modifier un vehicule
  </div>



  <div class="card-body">

    <form class="container px-3 py-2" novalidate (ngSubmit)="onSubmit()" [formGroup]="vehiculeForm">

      <div class="row g-4 mb-3">

        <div class="col-3 mx-auto">

          <div class="text-success"><span class="fw-bold">N° de chassis:</span></div>
          <div class="text-input px-1 text-uppercase">{{ vehicule.element.numeroChassis }}</div>

        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Couleur
          </label>

          <select formControlName="couleur"
            class="text-input form-select bg-mywhite border border-myprimary px-1 text-uppercase">
            <option selected>Selectionner une couleur</option>
            <option value="Blanche">Blanche</option>
            <option value="Noire">Noire</option>
            <option value="Grise">Grise</option>
            <option value="Rouge">Rouge</option>
            <option value="Orange">Orange</option>
            <option value="Verte">Verte</option>
            <option value="Bleu">Bleu</option>
            <option value="Rose">Rose</option>
            <option value="Marron">Marron</option>
            <option value="Jaune">Jaune</option>
            <option value="Argentée">Argentée</option>
            <option value="Violette">Violette</option>
          </select>
          <div class="invalid-feedback">
            <span *ngIf="vehiculeForm.get('couleur')?.errors?.['required']">
              Couleur (Obligatoire)
            </span>

          </div>

        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Date livraison
          </label>
          <input id="applyNameId" name="dateLivraison" type="date" formControlName="dateLivraison" [ngClass]="{'is-invalid': (vehiculeForm.get('dateLivraison')?.touched || vehiculeForm.get('dateLivraison')?.dirty) && !vehiculeForm.get('dateLivraison')?.valid,
          'is-valid': vehiculeForm.get('dateLivraison')?.valid}"
            class="text-input form-control bg-mywhite border border-myprimary  px-1 text-uppercase">
          <div class="invalid-feedback">
            <span *ngIf="vehiculeForm.get('dateLivraison')?.errors?.['required']">
              Date livraison (Obligatoire)
            </span>

          </div>
        </div>

      </div>



      <div class="row g-4 mb-3">


        <div class="col-3 mx-auto">
          <div class="text-success"><span class="fw-bold">N° matricule:</span></div>
          <div class="text-input px-1 text-uppercase">{{ vehicule.element.numeroMatricule }}</div>

        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Transmission
          </label>
          <select formControlName="transmission"
            class="text-input form-select display-4 bg-mywhite border border-myprimary px-0 text-uppercase">
            <option selected>Selectionner une transmission</option>
            <option value="Automatique">Automatique</option>
            <option value="Semi Automatique"> Semi Automatique</option>
            <option value="Manuel">Manuelle</option>
          </select>
          <div class="invalid-feedback">
            <span *ngIf="vehiculeForm.get('transmission')?.errors?.['required']">
              Transmission (Obligatoire)
            </span>

          </div>

        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Energie
          </label>
          <select formControlName="energie"
            class="text-input form-select bg-mywhite border border-myprimary px-1 text-uppercase">
            <option selected>Selectionner une energie</option>
            <option value="Essence">Essence</option>
            <option value="Diesel">Diesel</option>
            <option value="Électricitée">Électricitée</option>
            <option value="Hybride">Hybride</option>
            <option value="Hybride rechargeable">Hybride rechargeable</option>
            <option value="Hydrogène">Hydrogène</option>
            <option value="Gaz naturel">Gaz naturel</option>
            <option value="GPL (Gaz de pétrole liquéfié)">GPL (Gaz de pétrole liquéfié)</option>
            <option value="Biocarburants">Biocarburants</option>
            <option value="Énergie solaire">Énergie solaire</option>

          </select>
          <div class="invalid-feedback">
            <span *ngIf="vehiculeForm.get('energie')?.errors?.['required']">
              Energie (Obligatoire)
            </span>

          </div>

        </div>

      </div>


      <div class="row g-4 mb-3">


        <div class="col-3 mx-auto">
          <div class="text-success"><span class="fw-bold">Date fabrication:</span></div>
           <div class="text-input px-1 text-uppercase">{{ vehicule.element.dateFabrication | date: 'dd MMM yy' }}</div>

        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Modèle
          </label>
          <input id="applyNameId" name="modele" type="text" formControlName="modele" [ngClass]="{'is-invalid': (vehiculeForm.get('modele')?.touched || vehiculeForm.get('modele')?.dirty) && !vehiculeForm.get('modele')?.valid,
          'is-valid': vehiculeForm.get('modele')?.valid}"
            class="text-input form-control bg-mywhite border border-myprimary  px-1 text-uppercase">
          <div class="invalid-feedback">
            <span *ngIf="vehiculeForm.get('modele')?.errors?.['required']">
              Modèle (Obligatoire)
            </span>

          </div>
        </div>


        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Etat
          </label>
          <select formControlName="etat"
            class="text-input form-select bg-mywhite border border-myprimary px-1 text-uppercase">
            <option selected>Selectionner un etat</option>
            <option value="Usagé">Usagé</option>
            <option value="Neuf">Neuf</option>
            <option value="Accidenté">Accidenté</option>

          </select>
          <div class="invalid-feedback">
            <span *ngIf="vehiculeForm.get('etat')?.errors?.['required']">
              Etat (Obligatoire)
            </span>

          </div>
        </div>

      </div>



      <div class="row g-4 mb-3">

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Marque
          </label>
          <select formControlName="marque"
            class="text-input form-select bg-mywhite border border-myprimary px-1 text-uppercase">
            <option selected>Selectionner une marque </option>
            <option value="Toyota">Toyota</option>
            <option value="Volkswagen">Volkswagen</option>
            <option value="Ford">Ford</option>
            <option value="Chevrolet">Chevrolet</option>
            <option value="Honda">Honda</option>
            <option value="Nissan">Nissan</option>
            <option value="Mercedes-Benz">Mercedes-Benz</option>
            <option value="BMW">BMW</option>
            <option value="Audi">Audi</option>
            <option value="Hyundai">Hyundai</option>
            <option value="Kia">Kia</option>
            <option value="Subaru">Subaru</option>
            <option value="Mazda">Mazda</option>
            <option value="Jeep">Jeep</option>
            <option value="Volvo">Volvo</option>
            <option value="Tesla">Tesla</option>
            <option value="Porsche">Porsche</option>
            <option value="Lexus">Lexus</option>
            <option value="Land Rover">Land Rover</option>
            <option value="Ferrari">Ferrari</option>
            <option value="Maserati">Maserati</option>
            <option value="Jaguar">Jaguar</option>

          </select>
          <div class="invalid-feedback">
            <span *ngIf="vehiculeForm.get('marque')?.errors?.['required']">
              Marque (Obligatoire)
            </span>

          </div>
        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Date commande
          </label>
          <input id="applyNameId" name="dateCommande" type="date" formControlName="dateCommande" [ngClass]="{'is-invalid': (vehiculeForm.get('dateCommande')?.touched || vehiculeForm.get('dateCommande')?.dirty) && !vehiculeForm.get('dateCommande')?.valid,
          'is-valid': vehiculeForm.get('dateCommande')?.valid}"
            class="text-input form-control bg-mywhite border border-myprimary  px-1 text-uppercase">
          <div class="invalid-feedback">
            <span *ngIf="vehiculeForm.get('dateCommande')?.errors?.['required']">
              Date commande (Obligatoire)
            </span>

          </div>
        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Type vehicule
          </label>
          <select formControlName="typeVehicule"
            class="text-input form-select px-1 bg-mywhite border border-myprimary text-uppercase">
            <option selected>Selectionner un type vehicule</option>
            <option value="Voiture">Voiture</option>
            <option value="Camion">Camion</option>
            <option value="Moto">Moto</option>
            <option value="Scooter">Scooter</option>
            <option value="Cyclomoteur">Cyclomoteur</option>
            <option value="Vélos">Vélos</option>
            <option value="Bus">Bus</option>
            <option value="Train">Train</option>
            <option value="Avion">Avion</option>
            <option value="Bateaux">Bateaux</option>
            <option value="Véhicule électrique">Véhicule électrique</option>

          </select>
          <div class="invalid-feedback">
            <span *ngIf="vehiculeForm.get('typeVehicule')?.errors?.['required']">
              Type vehicule (Obligatoire)
            </span>

          </div>
        </div>

      </div>

      <div class="row mt-5">
        <div class="col-12 text-end">
          <button (click)="goToVehiculeListe()"  type="submit" [disabled]="vehiculeForm.invalid"
            class="btn btn-myprimary fw-bold w-25 mx-1" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
            VALIDER
          </button>

          <button (click)="popupFermer()" type="reset" class="btn btn-mysecondary fw-bold w-25 mx-3" data-bs-toggle="tooltip"
            title="cliquer ici pour retourner">
            RETOUR
          </button>
        </div>
      </div>

    </form>

      
      
      
  </div>

</div>
