<div class="card">

  <div class="card-header d-flex justify-content-center fw-bold bg-myprimary fs-4">
      <!-- {{ pageTitle }} -->
   Modifier un vehicule
  </div>

  <div class="card-body">

      <form>
          <div class="row">

              <div class="col-6">
                  <div class="form-group row mb-2">

                        <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label fs-5">
                          N° de châssis
                         </label>
                         <div class="col-md-9 col-lg-9">
                            <input name="" type="text" class="form-control  my-2 bg-mywhite w-75 fs-5" placeholder="12341234">
                         </div>


                  </div>

              </div>

              <div class="col-6">
                  <div class="form-group row mb-2">
                      <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label fs-5">
                          Date fabrication
                      </label>

                      <div class="col-md-9 col-lg-9">
                          <input name="" type="text" class="form-control my-2 bg-mywhite w-75 fs-5" placeholder="04/09/2022">

                      </div>
                  </div>

              </div>

          </div>

          <div class="row">

            <div class="col-6">
                <div class="form-group row mb-2">
                    <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label fs-5">
                        N° matricule
                    </label>

                    <div class="col-md-9 col-lg-9">
                        <input name="" type="text" class="form-control my-2 bg-mywhite w-75 fs-5" placeholder="1234">

                    </div>
                </div>

            </div>

            <div class="col-6">
                <div class="form-group row mb-2">
                    <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label fs-5">
                        Date commande
                    </label>

                    <div class="col-md-9 col-lg-9">
                        <input name="" type="text" class="form-control my-2 bg-mywhite w-75 fs-5" placeholder="5/09/2023">

                    </div>
                </div>

            </div>

        </div>

        <div class="row">

          <div class="col-6">
              <div class="form-group row mb-2">
                  <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label fs-5">
                    Modèle
                  </label>

                  <div class="col-md-9 col-lg-9">
                      <input name="" type="text" class="form-control my-2 bg-mywhite w-75 fs-5" placeholder="4x4">

                  </div>
              </div>

          </div>

          <div class="col-6">
              <div class="form-group row mb-2">
                  <label for="applyNameId" class="col-md-3  col-lg-3col-form-label fs-5">
                      Date livraison
                  </label>

                  <div class="col-md-9 col-lg-9">
                      <input name="" type="text" class="form-control my-2 bg-mywhite w-75 fs-5" placeholder="10/09/2023">

                  </div>
              </div>

          </div>

      </div>

      <div class="row">

        <div class="col-6">
            <div class="form-group row mb-2">
                <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label fs-5">
                    Marque
                </label>

                <div class="col-md-9 col-lg-9">
                    <input name="ford" type="text" class="form-control my-2 bg-mywhite w-75 fs-5" placeholder="Ford">

                </div>
            </div>

        </div>

        <div class="col-6">
            <div class="form-group row mb-2">
                <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label fs-5">
                   Energie
                </label>

                <div class="col-md-9 col-lg-9">

                  <select formControlName="Couleur" class="form-select my-2 bg-mywhite w-75 fs-5">
                    <option selected>Essence</option>
                    <option>Essence</option>
                    <option>Diesel</option>
                    <option>Électricité</option>
                    <option>Hybride </option>
                    <option>Hybride rechargeable</option>
                    <option>Hydrogène</option>
                    <option>Gaz naturel</option>
                    <option>GPL (Gaz de pétrole liquéfié)</option>
                    <option>Biocarburants</option>
                    <option>Énergie solaire</option>

                  </select>

                </div>
            </div>

        </div>

    </div>

    <div class="row">

      <div class="col-6">
          <div class="form-group row mb-2">
              <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label fs-5">
                  Couleur
              </label>

              <div class="col-md-9 col-lg-9">

                <select formControlName="Couleur" class="form-select my-2 bg-mywhite w-75 fs-5">
                  <option selected>Blanc</option>
                  <option>Blanc</option>
                  <option>Noir</option>
                  <option>Gris</option>
                  <option>Rouge</option>
                  <option>Orange</option>
                  <option>Vert</option>
                  <option>Bleu</option>
                  <option>Violet</option>
                  <option>Vert</option>
                  <option>Rose</option>
                  <option>Maron</option>
                  <option>Jaune</option>
                  <option>jaune</option>
                </select>

              </div>
          </div>

      </div>

      <div class="col-6">
          <div class="form-group row mb-2">
              <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label fs-5">
                  Etat
              </label>

              <div class="col-md-9 col-lg-9">

                <select formControlName="Couleur" class="form-select my-2 bg-mywhite w-75 fs-5">
                  <option selected>Usagé</option>
                  <option>Usagé</option>
                  <option>Neuf</option>
                  <option>Accidenté</option>
                </select>

              </div>
          </div>

      </div>

  </div>
  <div class="row">

    <div class="col-6">
        <div class="form-group row mb-2">
            <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label fs-5">
                Transmission
            </label>

            <div class="col-md-9 col-lg-9">

              <select formControlName="Couleur" class="form-select my-2 bg-mywhite w-75 fs-5">
                <option selected>Automatique</option>
                <option>Automatique</option>
                <option>Manuel</option>
              </select>

            </div>
        </div>

    </div>

    <div class="col-6">
        <div class="form-group row mb-2">
            <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label fs-5">
                Type vehicule
            </label>

            <div class="col-md-9 col-lg-9">
                <input name="" type="text" class="form-control my-2 bg-mywhite w-75 fs-5" placeholder="Voiture">

            </div>
        </div>

    </div>

</div>

    <div class="col-12 mt-3 text-start">
        <button type="submit" class="btn btn-myprimary fw-bold w-25 rounded-pill" data-bs-toggle="tooltip"
            title="cliquer ici pour ajouter">
            Valider
        </button>

        <a  class="btn btn-mygrey fw-bold w-25 rounded-pill mx-2"
            data-bs-toggle="tooltip" title="cliquer ici pour annuler">
            Annuler
        </a>
    </div>

      </form>

  </div>

</div>
