<!-- <div class="container">

  <div *ngIf="utilisateur" class="row">

    

    <div class="col-12 col-md-8 offset-md-2 mt-5">
      <h2 class="text-center">{{ utilisateur.username }}</h2>
      <div class="card shadow mb-3" style="border: 1px solid #E7C133;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../../assets/profil.png" alt="profil" class="img-fluid" style="height: 70%; width: 90%; margin: 6px;"/>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Utilisateur</td>
                    <td><strong>{{ utilisateur.username }}</strong></td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td><strong>{{ utilisateur.email }}</strong></td>
                  </tr>
                  <tr>
                    <td>Date Naissance</td>
                    <td><strong>{{ utilisateur.dateNaissance | date: 'dd MMM yy' }}</strong></td>
                  </tr>
                  <tr>
                    <td>Lieu Naissance</td>
                    <td><strong>{{ utilisateur.lieuNaissance }}</strong></td>
                  </tr>
                  <tr>
                    <td>Véhicules</td>
                    <td>
                      <span *ngFor="let vehicule of utilisateur.vehicules">{{ vehicule }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Date de création</td>
                    <td><em>{{ utilisateur.dateEnregistrement | date: 'dd MMM yy' }}</em></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer text-end" style="background-color: #fff; border-top: 1px solid #E7C133;">
              <button (click)="supprimerUtilisateurById(utilisateur.utilisateurId)" class="btn btn-mybrown me-2">Supprimer</button>
              <button (click)="goToModifierUtilisateur(utilisateur.utilisateurId)" class="btn btn-myprimary me-2">Modifier</button>
              <button (click)="goToUtilisateurList()" class="btn btn-mysecondary">Retour</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf='!utilisateur' style="display: flex; align-items: center; justify-content: center; height: 100%;">
  <app-loader></app-loader>
</div> -->
