<div class="card">

  <div class="card-header text-center fw-bold bg-myprimary fs-5">
    Détail du véhicule
  </div>

  <div class="card-body">
    <form class="container px-3 py-2">

      <div class="row g-4 mb-3">
        <div class="col-3 mx-auto">
          <span class="fw-bold">N° chassis:</span>
          <div class="text-input"> {{ vehicule.numeroChassis }} </div>
        </div>

        <div class="col-3 mx-auto">
          <span class="fw-bold">Couleur:</span>
          <div class="text-input text-uppercase"> {{ vehicule.couleur }} </div>
        </div>

        <div class="col-3 mx-auto">
          <span class="fw-bold">Date livraison:</span>
          <div class="text-input text-uppercase"> {{ vehicule.dateLivraison | date: 'dd MMM yy' }} </div>
        </div>
      </div>


      <div class="row g-4 mb-3">
        <div class="col-3 mx-auto">
          <span class="fw-bold">N° matricule:</span>
          <div class="text-input"> {{ vehicule.numeroMatricule }} </div>
        </div>

        <div class="col-3 mx-auto">
          <span class="fw-bold">Transmission:</span>
          <div class="text-input text-uppercase"> {{ vehicule.transmission }} </div>
        </div>

        <div class="col-3 mx-auto">
          <span class="fw-bold">Energies:</span>
          <div class="text-input text-uppercase"> {{ vehicule.energie }} </div>
        </div>
      </div>


      <div class="row g-4 mb-3">
        <div class="col-3 mx-auto">
          <span class="fw-bold">Modèle:</span>
          <div class="text-input text-uppercase"> {{ vehicule.modele }} </div>
        </div>

        <div class="col-3 mx-auto">
          <span class="fw-bold">Date fabrication:</span>
          <div class="text-input text-uppercase"> {{ vehicule.dateFabrication | date: 'dd MMM yy' }} </div>
        </div>

        <div class="col-3 mx-auto">
          <span class="fw-bold">Etat:</span>
          <div class="text-input text-uppercase"> {{ vehicule.etat }} </div>
        </div>
      </div>


      <div class="row g-4 mb-3">
        <div class="col-3 mx-auto">
          <span class="fw-bold">Marque:</span>
          <div class="text-input text-uppercase"> {{ vehicule.marque }} </div>
        </div>

        <div class="col-3 mx-auto">
          <span class="fw-bold">Date commande:</span>
          <div class="text-input text-uppercase"> {{ vehicule.dateCommande | date: 'dd MMM yy' }} </div>
        </div>

        <div class="col-3 mx-auto">
          <span class="fw-bold">Type vehicule:</span>
          <div class="text-input text-uppercase"> {{ vehicule.typeVehicule }} </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12 text-end">
          <button (click)="supprimerVehiculeById(vehicule.id)" type="button" class="btn btn-myprimary fw-bold w-25 mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
            SUPPRIMER
          </button>

          <button (click)="popupModifier(vehicule)" type="button" class="btn btn-myprimary fw-bold w-25 mx-2" data-bs-toggle="tooltip"
            title="cliquer ici pour ajouter">
            MODIFIER
          </button>

          <button (click)="fermerPopup()" type="button" class="btn btn-mysecondary fw-bold w-25 mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
            RETOUR
          </button>
        </div>
      </div>

    </form>
  </div>

</div>
