<section class="arriere-plan d-flex justify-content-center align-items-center h-100">

  <div class="container">
    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5 col-xl-5 mx-auto">

        <div class="card shadow bg-white border-2 border-myprimary rounded">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center my-2">
            <img src="../../assets/douanes.jpeg" alt="logo">
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
            <p class="fs-5 fw-bolder">GESTION DES MATERIELLES</p>
          </div>

          <div class="card-body p-5">

            <div class="row">
              <div class="form-group d-grid gap-1 mb-4 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label class="form-label d-flex align-items-start" for="typeText">Identifiant</label>
                <input type="text" id="typeText" class="form-control form-control-lg border border-myprimary" />
              </div>

              <div class="form-group d-grid gap-1 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label class="form-label d-flex align-items-start" for="typePassword">Mot de passe</label>
                <input type="password" id="typePassword" class="form-control form-control-lg border border-myprimary" />
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-xs-0 col-sm-0 col-md-0 col-lg-6 col-xl-6">
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <button class="btn btn-myprimary btn-md fw-bold w-100" type="submit">Se connecter</button>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-xs-0 col-sm-0 col-md-0 col-lg-6 col-xl-6">
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-end">
                <button type="button" class="btn btn-outline-secondary text-dark"><u>Mot de passe oublié?</u></button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

