<section class="arriere-plan gradient-custom">

  <div class="container py-4 mt-4">
    <div class="row d-flex justify-content-center align-items-center h-100 px-2">

      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-white text-dark shadow" style="border-radius: 1rem;">
          <div class="col-md-12 d-flex justify-content-center mt-2">
            <img src="../../assets/douanes.jpeg" alt="logo" width="200" >

          </div>
          <h5 class="d-flex justify-content-center mt-3">GESTION DES MATERIELS</h5>
          <div class="card-body p-5 text-center">

            <div>


              <div class="form-group d-grid gap-1 mb-4">
                <label class="form-label d-flex align-items-start" for="typeEmailX">Identifiant</label>
                <input type="email" id="typeEmailX" class="form-control form-control-lg" style="border: 1px solid grey;"/>
              </div>

              <div class="form-group d-grid gap-1 mb-4">
                <label class="form-label d-flex align-items-start" for="typePasswordX">Mot de passe</label>
                <input type="password" id="typePasswordX" class="form-control form-control-lg" style="border: 1px solid grey;"/>

              </div>
              <div class="row">
                <div class="col-md-6 col-lg-6">

                </div>

                <div class="col-md-6 col-lg-6">
                  <button class="btn btn-myprimary btn-md fw-bold w-100" type="submit">Se connecter</button>
                </div>

              </div>

              <div class="row mt-4">
                <div class="col-md-6 col-lg-6">

                </div>

                <div class="col-md-6 col-lg-6 text-end">
                  <button  type="button" class="btn btn-outline-secondary text-dark"><u>Mot de passe oublié?</u></button>
                </div>

              </div>




            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
