<section class="arriere-plan">

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">

      <div class="col-12 col-md-8 col-lg-6 col-xl-5">

        <div class="card shadow bg-white border-2 border-myprimary rounded">

          <div class="col-md-12 d-flex justify-content-center my-2">
            <img src="../../assets/douanes.jpeg" alt="logo" width="200" >
          </div>

          <div class="col-md-12 d-flex justify-content-center">
            <p class="fs-5 fw-bolder">GESTION DES MATERIELS</p>
          </div>

          <div class="card-body p-5">

              <div class="form-group d-grid gap-1 mb-4">
                <label class="form-label d-flex align-items-start" for="typeText">Identifiant</label>
                <input type="text" id="typeText" class="form-control form-control-lg border border-myprimary"/>
              </div>

              <div class="form-group d-grid gap-1">
                <label class="form-label d-flex align-items-start" for="typePassword">Mot de passe</label>
                <input type="password" id="typePassword" class="form-control form-control-lg border border-myprimary"/>

              </div>

              <div class="row mt-5">
                <div class="col-md-6 col-lg-6">
                </div>

                <div class="col-md-6 col-lg-6">
                  <button class="btn btn-myprimary btn-md fw-bold w-100" type="submit">Se connecter</button>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-md-6 col-lg-6">
                </div>

                <div class="col-md-6 col-lg-6 text-end">
                  <button  type="button" class="btn btn-outline-secondary text-dark"><u>Mot de passe oublié?</u></button>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
