<!-- <div class="row my-2">
        <div class="col-md-2 text-success"><span class="mx-2 fs-5">N° chassis:</span></div>
        <div class="col-md-4 fs-5">123456</div>
        <div class="col-md-2 text-success"><span class="mx-2 fs-5">Date fabrication:</span></div>
        <div class="col-md-4 fs-5">04/09/2022</div>
  </div> -->

<div class="card shadow">

  <div class="card-header d-flex justify-content-center fw-bold bg-myprimary fs-4">

    Détail du véhicule
  </div>



  <div class="card-body">

    <form class="container  mx-3 px-5 py-2">

      <div class="row g-4 mb-3">

        <div class="col-3 mx-auto">
          <div class="text-success"><span class="mx-2  fw-bold">N° de chassis:</span></div>
          <div class="text-input mx-2 text-uppercase">123456</div>
        </div>

        <div class="col-3 mx-auto">
          <div class="text-success"><span class="mx-2  fw-bold">Couleur:</span></div>
          <div class="text-input mx-2 text-uppercase">Rouge</div>
        </div>

        <div class="col-3 mx-auto">
          <div class="text-success"><span class="mx-2 fw-bold">Date livraison:</span></div>
          <div class="text-input mx-2 text-uppercase">10/09/2023</div>
        </div>

      </div>



      <div class="row g-4 mb-3">

        <div class="col-3 mx-auto">
          <div class="text-success"><span class="mx-2 fw-bold">N° matricule:</span></div>
          <div class="text-input mx-2 text-uppercase">1234</div>
        </div>

        <div class="col-3 mx-auto">
          <div class="text-success"><span class="mx-2 fw-bold">Transmission:</span></div>
          <div class="text-input mx-2 text-uppercase">Automatique</div>

        </div>

        <div class="col-3 mx-auto">
          <div class="text-success"><span class="mx-2 fw-bold">Energies:</span></div>
          <div class="text-input mx-2 text-uppercase">Essence</div>

        </div>

      </div>


      <div class="row g-4 mb-3">

        <div class="col-3 mx-auto">
          <div class="text-success"><span class="mx-2 fw-bold">Modèle:</span></div>
          <div class="text-input mx-2 text-uppercase">4x4</div>
        </div>

        <div class="col-3 mx-auto">
          <div class="text-success"><span class="mx-2 fw-bold">Date fabrication:</span></div>
          <div class="text-input mx-2 text-uppercase">04/09/2022</div>
        </div>

        <div class="col-3 mx-auto">
          <div class="text-success"><span class="mx-2 fw-bold">Etat:</span></div>
          <div class="text-input mx-2 text-uppercase">Neuf</div>
        </div>

      </div>



      <div class="row g-4 mb-3">

        <div class="col-3 mx-auto">
          <div class="text-success"><span class="mx-2 fw-bold">Marque:</span></div>
          <div class="text-input mx-2 text-uppercase">Toyota</div>
        </div>

        <div class="col-3 mx-auto">
          <div class="text-success"><span class="mx-2 fw-bold">Date commande:</span></div>
          <div class="text-input mx-2 text-uppercase">5/09/2023</div>
        </div>

        <div class="col-3 mx-auto">
          <div class="text-success"><span class="mx-2 fw-bold">Type vehicule:</span></div>
          <div class="text-input mx-2 text-uppercase">Voiture</div>
        </div>

      </div>

      <div class="row mt-5">
        <div class="col-12 text-end">
          <button type="submit" class="btn btn-myprimary fw-bold w-25 mx-1" data-bs-toggle="tooltip"
            title="cliquer ici pour ajouter">
            Supprimer
          </button>

          <button (click)="popupModifier()" class="btn btn-myprimary fw-bold w-25 mx-3" data-bs-toggle="tooltip"
            title="cliquer ici pour ajouter">
            Modifier
          </button>

          <button class="btn btn-mysecondary fw-bold w-25 mx-1" data-bs-toggle="tooltip"
            title="cliquer ici pour ajouter">
            Annuler
          </button>
        </div>
      </div>

    </form>

      
  </div>

    
</div>
