<div class="card shadow">

  <div class="card-header d-flex justify-content-center fw-bold bg-myprimary fs-4">

    Ajouter un vehicule
  </div>



  <div class="card-body">

    <form class="container px-3 py-2">

      <div class="row g-4 mb-3">

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            N° de châssis
          </label>
          <input id="applyNameId" name="" type="text"
            class="form-control bg-mywhite border border-myprimary">
        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Couleur
          </label>

          <select formControlName="Couleur" class="form-select bg-mywhite border border-myprimary">
            <option selected>Selectionner une couleur</option>
            <option>Blanc</option>
            <option>Noir</option>
            <option>Gris</option>
            <option>Rouge</option>
            <option>Orange</option>
            <option>Vert</option>
            <option>Bleu</option>
            <option>Vert</option>
            <option>Rose</option>
            <option>Maron</option>
            <option>Jaune</option>
            <option>Argent</option>
            <option>Violet</option>
          </select>

        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Date livraison
          </label>
          <input id="applyNameId" name="" type="date"
            class="form-control bg-mywhite border border-myprimary">
        </div>

      </div>



      <div class="row g-4 mb-3">

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            N° matricule
          </label>
          <input id="applyNameId" name="" type="text"
            class="form-control bg-mywhite border border-myprimary">
        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Transmission
          </label>
          <select formControlName="Transmission" class="form-select bg-mywhite border border-myprimary">
            <option selected>Selectionner une transmission</option>
            <option>Automatique</option>
            <option> Semi Automatique</option>
            <option>Manuel</option>
          </select>

        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Energie
          </label>
          <select formControlName="Energie" class="form-select bg-mywhite border border-myprimary">
            <option selected>Selectionner une energie</option>
            <option>Essence</option>
            <option>Diesel</option>
            <option>Électricité</option>
            <option>Hybride </option>
            <option>Hybride rechargeable</option>
            <option>Hydrogène</option>
            <option>Gaz naturel</option>
            <option>GPL (Gaz de pétrole liquéfié)</option>
            <option>Biocarburants</option>
            <option>Énergie solaire</option>

          </select>

        </div>

      </div>


      <div class="row g-4 mb-3">

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Modèle
          </label>
          <input id="applyNameId" name="" type="text"
            class="form-control bg-mywhite border border-myprimary">
        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Date fabrication
          </label>
          <input id="applyNameId" name="" type="date"
            class="form-control bg-mywhite border border-myprimary">
        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Etat
          </label>
          <select formControlName="Etat" class="form-select bg-mywhite border border-myprimary">
            <option selected>Selectionner un etat</option>
            <option>Usagé</option>
            <option>Neuf</option>
            <option>Accidenté</option>

          </select>
        </div>

      </div>



      <div class="row g-4 mb-3">

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Marque
          </label>
          <select formControlName="Energie" class="form-select bg-mywhite border border-myprimary">
            <option selected>Selectionner une marque </option>
            <option>Toyota</option>
            <option>Volkswagen </option>
            <option>Ford</option>
            <option>Chevrolet</option>
            <option>Honda</option>
            <option>Nissan</option>
            <option>Mercedes-Benz</option>
            <option>BMW</option>
            <option>Audi</option>
            <option>Hyundai</option>
            <option>Kia</option>
            <option>Subaru</option>
            <option>Mazda</option>
            <option>Jeep </option>
            <option>Volvo</option>
            <option>Tesla</option>
            <option>Porsche</option>
            <option>Lexus</option>
            <option>Land Rover</option>
            <option>Ferrari </option>
            <option>Maserati</option>
            <option>Jaguar </option>

          </select>
        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Date commande
          </label>
          <input id="applyNameId" name="" type="date"
            class="form-control bg-mywhite border border-myprimary">
        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label fw-bold">
            Type vehicule
          </label>
          <select formControlName="Type vehicule" class="form-select bg-mywhite border border-myprimary">
            <option selected>Selectionner un type  vehicule</option>
            <option>Voiture</option>
            <option>Camion</option>
            <option>Moto</option>
            <option>Scooter </option>
            <option>Cyclomoteur</option>
            <option>Vélos</option>
            <option>Bus</option>
            <option>Train </option>
            <option>Avion</option>
            <option>Bateaux</option>
            <option>Véhicule électrique</option>

          </select>
        </div>

      </div>

      <div class="row mt-5">
        <div class="col-12 text-start">
          <button type="submit" class="btn btn-myprimary fw-bold w-25 mx-1" data-bs-toggle="tooltip"
            title="cliquer ici pour ajouter">
            Valider
          </button>

          <button  class="btn btn-mysecondary fw-bold w-25 mx-3" data-bs-toggle="tooltip"
            title="cliquer ici pour ajouter">
            Annuler
          </button>
        </div>
      </div>

    </form>

      
  </div>

</div>
