

<div class="card">

  <div class="card-header d-flex justify-content-center fw-bold bg-mygrey">
      <!-- {{ pageTitle }} -->
   Ajout de vehicule
  </div>

  <div class="card-body">

      <form>
          <div class="row">

              <div class="col-6">
                  <div class="form-group row mb-2">

                        <label for="applyNameId" class="col-3 col-form-label">
                          N° de châssis
                         </label>
                         <div class="col-3">
                            <input name="" type="text" class="form-control  my-2 bg-mywhite">
                         </div>
                         <div class="col-3">
                          <input name="" type="text" class="form-control  my-2 bg-mywhite">
                         </div>
                         <!-- <div class="col-3">
                          <input name="" type="text" class="form-control  my-2 bg-mywhite">
                         </div> -->

                  </div>

              </div>

              <div class="col-6">
                  <div class="form-group row mb-2">
                      <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label">
                          Date fabrication
                      </label>

                      <div class="col-md-9 col-lg-9">
                          <input name="" type="text" class="form-control my-2 bg-mywhite w-75">

                      </div>
                  </div>

              </div>

          </div>

          <div class="row">

            <div class="col-6">
                <div class="form-group row mb-2">
                    <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label">
                        N° matricule
                    </label>

                    <div class="col-md-9 col-lg-9">
                        <input name="" type="text" class="form-control my-2 bg-mywhite w-75">

                    </div>
                </div>

            </div>

            <div class="col-6">
                <div class="form-group row mb-2">
                    <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label">
                        Date commande
                    </label>

                    <div class="col-md-9 col-lg-9">
                        <input name="" type="text" class="form-control my-2 bg-mywhite w-75">

                    </div>
                </div>

            </div>

        </div>

        <div class="row">

          <div class="col-6">
              <div class="form-group row mb-2">
                  <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label">
                    Modèle
                  </label>

                  <div class="col-md-9 col-lg-9">
                      <input name="" type="text" class="form-control my-2 bg-mywhite w-75">

                  </div>
              </div>

          </div>

          <div class="col-6">
              <div class="form-group row mb-2">
                  <label for="applyNameId" class="col-md-3  col-lg-3col-form-label">
                      Date livraison
                  </label>

                  <div class="col-md-9 col-lg-9">
                      <input name="" type="text" class="form-control my-2 bg-mywhite w-75">

                  </div>
              </div>

          </div>

      </div>

      <div class="row">

        <div class="col-6">
            <div class="form-group row mb-2">
                <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label">
                    Marque
                </label>

                <div class="col-md-9 col-lg-9">
                    <input name="" type="text" class="form-control my-2 bg-mywhite w-75">

                </div>
            </div>

        </div>

        <div class="col-6">
            <div class="form-group row mb-2">
                <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label">
                   Type de carburant
                </label>

                <div class="col-md-9 col-lg-9">
                    <input name="" type="text" class="form-control my-2 bg-mywhite w-75">

                </div>
            </div>

        </div>

    </div>

    <div class="row">

      <div class="col-6">
          <div class="form-group row mb-2">
              <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label">
                  Couleur
              </label>

              <div class="col-md-9 col-lg-9">
                  <input name="" type="text" class="form-control my-2 bg-mywhite w-75">

              </div>
          </div>

      </div>

      <div class="col-6">
          <div class="form-group row mb-2">
              <label for="applyNameId" class="col-md-3 col-lg-3 col-form-label">
                  Kilométrage
              </label>

              <div class="col-md-9 col-lg-9">
                  <input name="" type="text" class="form-control my-2 bg-mywhite w-75">

              </div>
          </div>

      </div>

  </div>

    <div class="col-12 mt-3 text-start">
        <button type="submit" class="btn btn-myprimary fw-bold w-25 rounded-pill" data-bs-toggle="tooltip"
            title="cliquer ici pour ajouter">
            Ajouter
        </button>

        <a  class="btn btn-mygrey fw-bold w-25 rounded-pill mx-2"
            data-bs-toggle="tooltip" title="cliquer ici pour annuler">
            Annuler
        </a>
    </div>

      </form>

  </div>

</div>
